# PANDAS

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.3'

In [5]:
a = [1,2,-3,6.3,"kalyan",'p']
a

[1, 2, -3, 6.3, 'kalyan', 'p']

In [10]:
# series 1D indexed array

l1 = pd.Series(a)
l1

0         1
1         2
2        -3
3       6.3
4    kalyan
5         p
dtype: object

In [11]:
type(l1)

pandas.core.series.Series

In [15]:
l2 = pd.Series([10,11,12,13,14,15])
l2

0    10
1    11
2    12
3    13
4    14
5    15
dtype: int64

In [20]:
empty = pd.Series([])
empty

C:\Users\Pavan Kalyan\AppData\Local\Temp\ipykernel_3768\3069909210.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty = pd.Series([])

Series([], dtype: float64)

In [25]:
# we can change the index of element
l3 = pd.Series([10,11,12,13,14,15] ,index = ['A','B','Cold','D','E','F'])
l3

A       10
B       11
Cold    12
D       13
E       14
F       15
dtype: int64

In [27]:
l4 = pd.Series([10,11,12,13,14,15] ,index = ['A','B','C','D','E','F'] , dtype = "float")
l4

A    10.0
B    11.0
C    12.0
D    13.0
E    14.0
F    15.0
dtype: float64

In [28]:
l5 = pd.Series([10,11,12,13,14,15] ,index = ['A','B','C','D','E','F'] , dtype = "float" , name = "Data Values")
l5

A    10.0
B    11.0
C    12.0
D    13.0
E    14.0
F    15.0
Name: Data Values, dtype: float64

In [29]:
single = pd.Series(19 )
single

0    19
dtype: int64

In [30]:
multiple = pd.Series(19 , index = [1,2,3,4,5])
multiple

1    19
2    19
3    19
4    19
5    19
dtype: int64

In [31]:
# using dictionery

d = pd.Series( {'a':17,'b':19,'c':7,'d':9} )
d

a    17
b    19
c     7
d     9
dtype: int64

# Accessing the series

In [39]:
l5 = pd.Series( [18,20,35,143,95,46])
l5

0     18
1     20
2     35
3    143
4     95
5     46
dtype: int64

In [40]:
l5[4]

95

In [41]:
l5[2:5]

2     35
3    143
4     95
dtype: int64

In [42]:
max(l5)

143

In [43]:
min(l5)

18

In [44]:
l5[ l5 > 50]

3    143
4     95
dtype: int64

In [45]:
l5

0     18
1     20
2     35
3    143
4     95
5     46
dtype: int64

In [53]:
l6 = pd.Series([1,2,3,4,5])
l7 = pd.Series([10,9,8,7,6])

In [54]:
# Addition

l6 + l7

0    11
1    11
2    11
3    11
4    11
dtype: int64

In [59]:
# if the size of 2 series are not same then the missing numbers are treated as NaN
l5 + l6

0     19.0
1     22.0
2     38.0
3    147.0
4    100.0
5      NaN
dtype: float64