# Data Frames

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()

print(df)

df

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

In [3]:
l1 = ['a','b','c']
print(l1)

['a', 'b', 'c']

In [4]:
df1 = pd.DataFrame(l1)

print(df1)

df1.shape

   0
0  a
1  b
2  c

(3, 1)

In [5]:
l2 = [[1,2,3] , [2,3,4] , [3,4,5]]

In [6]:
df2 = pd.DataFrame(l2)
print(df2)

df2.shape

   0  1  2
0  1  2  3
1  2  3  4
2  3  4  5

(3, 3)

In [7]:
d1 = {'ID' : [101,102,103,104]}
d1

{'ID': [101, 102, 103, 104]}

In [8]:
df3 = pd.DataFrame(d1)
print(df3)

    ID
0  101
1  102
2  103
3  104

In [9]:
d2 = {'ID' : [101,102,103,104] , "Name" : ["Pavan","Kalyan","Uma","harani"]}
d2

{'ID': [101, 102, 103, 104], 'Name': ['Pavan', 'Kalyan', 'Uma', 'harani']}

In [10]:
df4 = pd.DataFrame(d2)
print(df4)

df4.shape

    ID    Name
0  101   Pavan
1  102  Kalyan
2  103     Uma
3  104  harani

(4, 2)

In [11]:
ld = [{'a':1 , 'b':3 ,'c':6} , {'a':3 , 'b':7 , 'c':4 , "d":10}]
ld

[{'a': 1, 'b': 3, 'c': 6}, {'a': 3, 'b': 7, 'c': 4, 'd': 10}]

In [12]:
df5 = pd.DataFrame(ld)
print(df5)

   a  b  c     d
0  1  3  6   NaN
1  3  7  4  10.0